form{
  transform: scale(1.5) translateY(30px);
  width: 50%;
  padding: 1rem;
  background-color: #191919;
  border: .1px solid rgba(255,255,255,.1);
  border-radius: .5rem;
  box-shadow: 0px 10px 20px 0px rgba(153, 200, 255, .1);
}

.passwordInputContainer{
  display: flex;
  align-items: center;
  border: .1px solid rgba(255,255,255,.1);
  border-radius: .5rem;
  overflow: hidden;
}

.passwordInput{
  padding-left: .5rem;
  width: 100%;
  border: none;
  background: none;
  color: #99C8FF;
}

.passwordInput:focus-visible{
  outline: none;
}

.copyBtn, .showBtn{
  padding: .5rem;
  background: none;
  border: none;
  display: grid;
  opacity: 0.5;
  transition: all .3s;
}

.copyBtn{
  border-right: .1px solid rgba(255,255,255,.1);
}

.copyBtn:hover, .showBtn:hover{
  cursor: pointer;
  opacity: 1;
}

.passwordLengthInfoContainer{
  margin: .5rem 0;
}

.passwordLengthInfo{
  font-size: .5rem;
}

.passwordLengthInput{
  width: 100%;
}

.generateBtn{
  padding: .25rem;
  width: 100%;
  background: none;
  border: .1px solid rgba(255,255,238,.1);
  border-radius: .5rem;
  transition: all .3s;
}

.generateBtn:hover{
  background-color: #99C8FF;
  color: #191919;
  border-color: #99C8FF;
  cursor: pointer;
}
